.accordion-item_opened .accordion-hidden {
    display: block;
}

.accordion-item_opened .accordion-toggle {
    box-shadow: 0px 10px 30px rgba(0, 68, 133, 0.05);
    border-bottom-color: #DBE7F2;
}

.accordion-item_opened .accordion-toggle__icon {
    transform: rotate(-180deg);
    background-color: #6099FA;
}

.accordion-item_opened .accordion-toggle__icon svg {
    stroke: #FFF;
}

.accordion-toggle {
    padding: 16px 60px 14px 16px;
    border-bottom: solid 2px #F6F8FB;
    position: relative;
    min-height: 64px;
    display: block;
    width: 100%;
    transition: 0.3s;
    box-shadow: 0px 10px 30px rgba(0, 68, 133, 0);
}

.accordion-toggle__icon {
    position: absolute;
    right: 20px;
    top: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: 0.3s;
}

.accordion-toggle__icon svg {
    stroke: #AFC0D5;
    position: absolute;
    top: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.accordion-hidden {
    display: none;
    transition: 0.3s;
}