.button {
    display: inline-block;
    transition: 0.3s;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
}

.button_filled {
    background: #6099FA;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.button_linear {
    border-color: #DBE7F2;
    color: #6099FA;
}