.card {
    border-radius: 5px 5px 0px 0px;
    max-width: 320px;
    width: 100%;
    overflow: hidden;
}

.card-content {
    background: #FFFFFF;
}

.card-footer {
    border-top: 1px solid #DBE7F2;
    background-color: #F5F8FC;
    padding: 15px;
    position: relative;
    margin-bottom: 6px;
}

.card-footer:after {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: -1px;
    left: 0;
    right: 0;
    display: block;
    height: 6px;
    background: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.69867 5.72727C5.38815 6.09091 4.61185 6.09091 4.30133 5.72727L0.109288 0.818181C-0.201233 0.454545 0.186919 -9.50874e-08 0.807962 -5.88919e-08L9.19204 4.29748e-07C9.81308 4.65943e-07 10.2012 0.454546 9.89071 0.818182L5.69867 5.72727Z' fill='%23F5F8FC'/%3E%3C/svg%3E%0A") repeat-x -5px top;
}