.features-item {
    padding-right: 20px;
    max-width: 33.3333%;
    font-weight: 500;
}
.features-item:nth-child(3n) {
    padding-right: 0;
}

.feature-item__title {
    font-size: 12px;
    line-height: 120%;
    color: #7E8FA5;
    white-space: pre-line;
}

.feature-item__value {
    margin-top: 8px;
    font-size: 14px;
    line-height: 140%;
    color: #3F5060;
}