.header {
    height: 60px;
    background: #6099FA;
    box-shadow: 0px 1px 5px #C1CEDE;
    color: #fff;
    padding: 9px 0;
}

.header-container {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__back-btn {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    height: 100%;
    padding: 0;
}

.header__back-btn svg {
    margin-right: 16px;
    fill: #CCE0FF;
}

.header-price-toggle {
    margin-left: auto;
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 5px;
    background: #7DADFF;
}

.header-price-toggle-inner {
    width: 16px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-price-toggle__bar {
    height: 2px;
    border-radius: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #CCE0FF;
    transition: 0.3s;
}

.header-price-toggle__bar:before,
.header-price-toggle__bar:after {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #CCE0FF;
    border-radius: 2px;
    transition: 0.3s;
}

.header-price-toggle__bar:before {
    top: 5px;
}

.header-price-toggle__bar:after {
    top: 10px;
}

.header-price-toggle__label {
    position: absolute;
    top: -4px;
    right: -9px;
    height: 21px;
    width: 21px;
    line-height: 23px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    color: #4C89E5;
    font-weight: 500;
    font-size: 12px;
}