.payment {
    padding: 26px 30px 40px;
}

.payment__title {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #3F5060;
}

.payment-form-group {
    margin-top: 16px;
}

.payment-form__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3F5060;
    margin-bottom: 11px;
}

.payment-form__control {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    color: #7E8FA5;
    background-color: transparent;
    border: 1px solid #DBE7F2;
    border-radius: 5px;
    width: 100%;
    padding: 12px 15px;
    height: 40px;
    outline: none;
}

.payment-form__control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #7E8FA5;
}

.payment-form__control::-moz-placeholder { /* Firefox 19+ */
    color: #7E8FA5;
}

.payment-form__control:-ms-input-placeholder { /* IE 10+ */
    color: #7E8FA5;
}

.payment-form__control:-moz-placeholder { /* Firefox 18- */
    color: #7E8FA5;
}

.payment-form-buttons {
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.payment-form__card {
    width: 100%;
}

.payment-form__card-icon {
    width: 20px;
    height: auto;
    margin-right: 12px;
    vertical-align: middle;
}

.payment-form-or {
    margin-top: 9px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
    color: #7E8FA5;
    text-align: center;
}

.payment-form-services {
    display: flex;
    justify-content: space-between;
}

.payment-form__btn {
    width: calc(50% - 5px);
    padding: 8px;
}

.payment-form__btn-icon {
    margin-right: 8px;
    vertical-align: middle;
}

.payment-form__qiwi-icon {
    width: 21px;
    height: 22px;
}

.payment-form__pp-icon {
    width: 16px;
    height: 18px;
}

.payment-form-other-container {
    margin-top: 10px;
}

.payment-form__other {
    padding: 12px;
    width: 100%;
}