.price-list {
    padding-top: 15px;
}

.price-list-content {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 56, 110, 0.08);
    border-radius: 5px;
    color: #475666;
}

.price-list-title {
    padding: 16px;
    margin-bottom: 15px;
}

.price-list-title__value {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    margin: 0;
}

.price-list-toggle {
    display: flex;
    align-items: center;
}

.price-list-toggle__icon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    object-fit: contain;
}

.price-list__note {
    font-size: 12px;
    line-height: 130%;
    color: #7E8FA5;
    padding: 16px 43px 16px 16px;
    background: #F6F8FB;
}