.service-card {
    border-bottom: solid 2px #EFF4FA;
    padding: 16px 8px 8px;
}

.service-card-top {
    display: flex;
}
.service-card__icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.service-card__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}

.service-card__desc {
    margin-top: 14px;
    font-size: 12px;
    line-height: 140%;
    color: #7E8FA5;
    padding: 0 4px;
}

.service-card-features {
    margin-top: 8px;
    background: #F6F8FB;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 18px;
}
