.social-list__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #7E8FA5;
    text-align: center;
    margin-bottom: 12px;
}

.social-list-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list__link {
    display: block;
    margin: 0 9px;
}

.social-list__img {
    width: auto;
    height: auto;
    max-width: 25px;
    max-height: 25px;
}