.fade-enter {
    opacity: 0;
    display: block;
}
.fade-enter-active {
    opacity: 1;
    display: block;
}

.fade-enter-done {
    opacity: 1;
    display: block;
}

.fade-exit {
    opacity: 0;
    display: block;
}
.fade-exit-active {
    opacity: 0;
    display: block;
}

.fade-exit-done {
    opacity: 0;
    display: none;
}