@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=cyrillic');

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-serif;
}

.app {
    background-color: #EFF4FA;
    min-height: 100vh;
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}